@font-face{
  font-family:'snsicon';
  src:
    url('../fonts/snsicon.ttf') format('truetype'),
    url('../fonts/snsicon.woff') format('woff');
  font-weight:normal;
  font-style:normal;
}

.icon{
    font-family:'snsicon';
    speak:none;
}

.icon-buffer::before{
    content:"\e900";
}
.icon-digg::before{
    content:"\e901";
}
.icon-feedly::before{
    content:"\e902";//#6cc655
}
.icon-gplus::before{
    content:"\e903";
}
.icon-hatebu::before{
    content:"\e904";
}
.icon-hootsuite::before{
    content:"\e905";
}
.icon-instapaper::before{
    content:"\e906";
}
.icon-line::before{
    content:"\e907";
}
.icon-linkedin::before{
    content:"\e911"
}
.icon-pinterest::before{
    content:"\e908";
}
.icon-pocket::before{
    content:"\e909";
}
.icon-reddit::before{
    content:"\e90a";
}
.icon-rss::before{
    content:"\e90b";//#ffa500
}
.icon-stumbleupon::before{
    content:"\e90c";
}
.icon-tumblr::before{
    content: "\e90d";
}
.icon-twitter::before{
    content:"\e90e";
}
.icon-vk::before{
    content:"\e90f";
}
.icon-wordpress::before{
    content:"\e910";//#21759b
}
.icon-mail::before{
    content:"\e945";
}
.icon-print::before{
    content:"\e954";
}
.icon-share::before{
    content:"\ea82";
}
.icon-facebook:before{
    content:"\ea90";
}